.nav-tabs>li>a {
  background-color: #fff; 
  color:#607D8B;
    border: 0px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #607D8B;
  border: 0px;
}

.nav-tabs>li>a:hover {
  color: #607D8B;
  background-color: #fff;
    border: 0px;
}

.white{
	color:white;
}
.grey:hover,.grey{
	color:white;
	background-color:#607D8B;
}

 body {
            padding-bottom: 40px;
            padding-top: 60px;
        }
        
        .sidebar-nav-fixed {
            width: 14%;
        }
        
        .taskDone {
            text-decoration: line-through;
        }
        
        .completionProgressGreyBar {
            background-color: #f9f9f9;
        }
        
        .completionProgressGreenBar {
            background-color: #5cb85c;
        }
        
        .green {
            background-color: #5cb85c;
        }
        
        .red {
            background-color: #d9534f;
        }
        
        #circler {
            background: #d9534f;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
		#circleo {
            background: #FF5722;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
        
        #circleb {
            background: #5bc0de;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
        
        #circleg {
            background: #5cb85c;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
        
        span {
            max-width: 200px;
            word-wrap: break-word;
        }