.navbar-default {
  background-color: #607d8b;
  border-color: #ffffff;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #607d8b;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
 color: #607d8b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #607d8b;
  background-color: #ffffff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #607d8b;
  background-color: #ffffff;
}
.navbar-default .navbar-toggle {
  border-color: #ffffff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
   color: #ffffff;
  background-color: #607d8b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #607d8b;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #607d8b;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #607d8b;
    background-color: #ffffff;
  }
}
.nav-tabs>li>a {
  background-color: #fff; 
  color:#607D8B;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: #607D8B;
}

.nav-tabs>li>a:hover {
  color: #607D8B;
  background-color: #fff;
}

.white{
	color:white;
}
.grey:hover,.grey{
	color:white;
	background-color:#607D8B;
}

 body {
            padding-bottom: 40px;
            padding-top: 60px;
        }
        
        .sidebar-nav-fixed {
            width: 14%;
        }
        
        .taskDone {
            text-decoration: line-through;
        }
        
        .completionProgressGreyBar {
            background-color: #f9f9f9;
        }
        
        .completionProgressGreenBar {
            background-color: #5cb85c;
        }
        
        .green {
            background-color: #5cb85c;
        }
        
        .red {
            background-color: #d9534f;
        }
        
        #circler {
            background: #d9534f;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
		#circleo {
            background: #FF5722;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
        
        #circleb {
            background: #5bc0de;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
        
        #circleg {
            background: #5cb85c;
            width: 17px;
            height: 17px;
            float: left;
            margin: 0 5px;
        }
        
        span {
            max-width: 200px;
            word-wrap: break-word;
        }