<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <title>Vue.js Todo List Application</title>
</head>

<body>
    <div class="container">
        <div id="app" class="col-sm-10 col-sm-offset-1">
            <div id="wrap">
                <div class="navbar-fixed-top">


                    <div class="alert alert-success" id="success-alert">
                        <strong>Success!</strong> Task Added.
                    </div>
                    <div class="alert alert-info" id="deleted-alert">
                        <strong>Success!</strong> Task Deleted
                    </div>
                    <div class="alert alert-warning" id="completed-alert">
                        <strong>Success!</strong> Task Completed
                    </div>



                </div>


            </div>



            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div v-if="displayAddTasks">
                            <div class="panel-body">
                                <form v-on:submit="addTask">
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" v-model="tasks.name" placeholder="add task & enter">
                                    </div>
                                    <div class="col-sm-4">
                                        <input id="add" type="submit" class="btn btn-primary grey" value="AddTask">
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="col-md-7" style="margin-left:12px;">
                            <ul class="nav nav-tabs" style="margin-bottom:10px;border-bottom:0px">
                                <li class="active"><a data-toggle="tab" href="#home">To-Do</a></li>
                                <li><a data-toggle="tab" href="#menu1">Done</a></li>
                                <li><a data-toggle="tab" href="#menu2">All</a></li>
                            </ul>
                        </div>

                        <div class="tab-content">
                            <div id="home" class="tab-pane fade in active">

                                <div class="col-md-7">

                                    <div class="content">

                                        <div class="container" id="tourpackages-carousel" v-if="displayTasks && tasks.length > 0">
                                            <div class="row" v-for="task in tasks">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" v-if="!task.done">


                                                    <div class="well" style="background-color:#607D8B;color:white;">
                                                        <todo v-bind:task="task"></todo>

                                                        <span id="deleted" class="glyphicon glyphicon-trash pull-right white" v-on:click="deleteTask(task)"></span>
                                                        <input id="done" type="checkbox" v-model="task.done" v-on:click="done = !done">
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End row -->
                                        </div>
                                        <!-- End container -->
                                    </div>

                                </div>
                            </div>
                            <div id="menu1" class="tab-pane fade">
                                <div class="col-md-7">

                                    <div class="content">

                                        <div class="container" id="tourpackages-carousel" v-if="displayTasks && tasks.length > 0">
                                            <div class="row" v-for="task in tasks">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" v-if="task.done">


                                                    <div class="well" style="background-color:#607D8B;color:white;">
                                                        <todo v-bind:task="task"></todo>

                                                        <span id="del" class="glyphicon glyphicon-trash pull-right white" v-on:click="deleteTask(task)"></span>
                                                        <input type="checkbox" v-model="task.done" v-on:click="done = !done">
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End row -->
                                        </div>
                                        <!-- End container -->
                                    </div>

                                </div>
                            </div>
                            <div id="menu2" class="tab-pane fade">
                                <div class="col-md-7">

                                    <div class="content">

                                        <div class="container" id="tourpackages-carousel" v-if="displayTasks && tasks.length > 0">
                                            <div class="row" v-for="task in tasks">
                                                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">


                                                    <div class="well" style="background-color:#607D8B;color:white;">
                                                        <todo v-bind:task="task"></todo>
                                                        <span id="delete" class="glyphicon glyphicon-trash pull-right white" v-on:click="deleteTask(task)"></span>
                                                        <input id="completed" type="checkbox" v-model="task.done" v-on:click="done = !done">
                                                    </div>

                                                </div>
                                            </div>
                                            <!-- End row -->
                                        </div>
                                        <!-- End container -->
                                    </div>

                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="col-sm-5 " style="margin-top: 70px;">



                        <div class="col-md-3">
                            <div class="sidebar-nav-fixed pull-right affix" v-if="displayProgressBar">
                                <h4>Status</h4>
                                <div class="well" style="background-color:#607D8B; color:white;">
                                    <ul class="nav ">
                                        <li class="nav-header">
                                            <div class="completionProgressGreyBar">
                                                <div class="completionProgressGreenBar text-center" :style="{ width: percentageOfTasksCompleted + '%' }">{{ Math.round(percentageOfTasksCompleted) }}%</div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!--/.well -->
                            </div>
                            <!--/sidebar-nav-fixed -->
                        </div>
                        <br><br><br><br><br><br>
                        <div class="col-md-3">
                            <div class="sidebar-nav-fixed affix" v-if="displayTaskStatistics">
                                <div class="well" style="background-color:#607D8B;color:white;">
                                    <ul class="nav ">
                                        <li>
                                            <div id="circleb"></div>
                                            <p v-on:mouseover="changeTotalTasks">Total Tasks: {{ tasks.length }}</p>
                                        </li>
                                        <li>
                                            <div id="circler"></div>
                                            <p v-on:mouseover="changeLeftToDo">Tasks Left: {{ leftToDo }}</p>
                                        </li>
                                        <li>
                                            <div id="circleg"></div>
                                            <p v-on:mouseover="changeCheckMarked">Completed: {{ checkMarkedTasks }}</p>
                                        </li>
                                        <div id="circleo"></div>
                                        <b> <li class="nav-header">{{ displayedTasksStatView }}</li></b>
                                        <li>
                                            <h3 align="center" style="padding: 10px;" v-bind:class="manageable" class="green">{{ leftToDo
                                                < 5 ? 'Manageable' : 'Overload' }}</h3>
                                        </li>
                                    </ul>
                                </div>
                                <!--/.well -->
                            </div>
                            <!--/sidebar-nav-fixed -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $("#success-alert").hide();
            $("#deleted-alert").hide();
            $("#completed-alert").hide();

            $('input[type="checkbox"]').click(function() {
                if ($(this).prop("checked") == true) {

                    $("#completed-alert").alert();
                    $("#completed-alert").fadeTo(2000, 500).slideUp(500, function() {
                        $("#completed-alert").slideUp(500);
                    });


                }

            });




        });
    </script>
</body>

</html>